* {
    padding: 0;
    margin: 0;
    text-decoration-line: none;
    list-style-type: none;
}

body {
    background-color: #f3e2d1;
}

.BMW {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #fff;
}

.BMW::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: blue;
}

.BMW::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100px;
    height: 100px;
    background-color: blue;
}

.SJX {
    position: relative;
    box-sizing: border-box;
    width: 0;
    height: 0;
    border: 100px;
    border-style: solid;
    border-color: transparent transparent red transparent;
}

.SJX::after {
    content: '';
    display: block;
    position: absolute;
    top: -83px;
    left: -90px;
    width: 0;
    height: 0;
    border: 90px;
    border-style: solid;
    border-color: transparent transparent blue transparent;
}

.STOP {
    position: relative;
    width: 50px;
    height: 50px;
    border: 8px solid black;
    border-radius: 50%;
}

.STOP::after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 18px;
    border: 20px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.COTU {
    position: relative;
    width: 50px;
    height: 50px;
    border: 8px solid black;
    border-radius: 50%;
}

.COTU::after {
    content: '';
    display: block;
    position: absolute;
    top: 11px;
    left: 13px;
    width: 10px;
    height: 28px;
    border: 7px;
    border-style: solid;
    border-top: black;
    border-bottom: black;
}